In [1]:
import pandas as pd 
import cbpro
import requests
import time

pc = cbpro.PublicClient()
from datetime import datetime, timedelta

In [2]:
ticker = pc.get_product_ticker(product_id='BTC-USD')
start_date=(pd.to_datetime("2020-01-01")).isoformat()

In [3]:
start_date= pd.to_datetime('2021-01-01T01:00:00')
end_date = (start_date + timedelta(minutes=300))#.isoformat()
historical = pd.DataFrame(pc.get_product_historic_rates(product_id='BTC-USD',
                                                        start = '2021-01-01T01:00:00',
                                                        end = '2021-01-01T06:00:00'))
historical.columns= ["Date","Open","High","Low","Close","Volume"]
historical['Date'] = pd.to_datetime(historical['Date'], unit='s')
historical.set_index('Date', inplace=True)
historical.sort_values(by='Date', ascending=True, inplace=True)
df = historical
now = datetime.today()#.isoformat()
i = 0

while end_date < now:
    i+= 1 
    start_date = (start_date+timedelta(minutes=301))
    end_date = (end_date + timedelta(minutes=301))
    historical = pd.DataFrame(pc.get_product_historic_rates(product_id='BTC-USD',
                                                        start = start_date,
                                                        end = end_date))

    historical.columns= ["Date","Open","High","Low","Close","Volume"]
    historical['Date'] = pd.to_datetime(historical['Date'], unit='s')
    historical.set_index('Date', inplace=True)
    historical.sort_values(by='Date', ascending=True, inplace=True)
    df = pd.concat([df,historical])
    #time.sleep(1)

In [4]:
df
#print(2)

                         Open      High       Low     Close     Volume
Date
2021-01-01 01:01:00  29034.37  29064.46  29064.46  29045.13  26.673723
2021-01-01 01:02:00  29045.12  29072.25  29045.13  29069.79  11.735460
2021-01-01 01:03:00  29058.09  29069.80  29069.80  29063.02   9.663747
2021-01-01 01:04:00  29059.74  29137.72  29059.78  29127.62  41.560358
2021-01-01 01:05:00  29128.29  29149.50  29133.60  29149.50  22.108875
...                       ...       ...       ...       ...        ...
2022-07-28 15:46:00  23608.01  23658.10  23654.97  23627.23  22.582466
2022-07-28 15:47:00  23608.17  23658.64  23623.20  23653.03  21.281541
2022-07-28 15:48:00  23630.01  23660.00  23656.52  23630.01  23.175168
2022-07-28 15:49:00  23630.00  23744.15  23630.01  23729.84  35.866920
2022-07-28 15:50:00  23670.47  23741.49  23728.98  23710.53  27.975239

[823138 rows x 5 columns]

In [5]:
df.to_csv("BTC_high_freq.csv")